<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
	<link href="css/templatemo-style.css" rel="stylesheet" />
</head>
<body>

	<div class="container">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="img/Royal Tulip.jpg">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">Royal Tulip</h1>
								<h6 class="tm-site-description">Our motel is home</h6>
							</div>
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="main.html" class="tm-nav-link active">Rooms</a></li>
								<li class="tm-nav-li"><a href="services.html" class="tm-nav-link">Services</a></li>
								<li class="tm-nav-li"><a href="check-out.html" class="tm-nav-link">Check Out</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
  </body>
