<link rel="stylesheet" href="css/login.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="css/bootstrap.min.css">

<div class="row justify-content-center">
    <div class="col-4">
      <form action="/test/uploadmultiple" enctype="multipart/form-data" method="POST">
        <div class="row">
            <div class="col-8">
              <input type="file" class="form-control" name="images" id="formFile" multiple>
            </div>
            <div class="col-2">
              <input type="submit" class="btn btn-warning" value="Upload image">
        </div>
      </form>
    </div>
</div>
<script src="js/signIn.js"></script>
