<link rel="stylesheet" href="css/login.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="css/bootstrap.min.css">

<div class="row" style="min-height: 100%">
    <div class="col-md-6 mx-auto p-0">
        <div class="card">
            <div class="login-box">
                <div class="login-snip"> <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Register</label>
                                          <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>

                      <div class="login-space">
                          <div class="login">
                            <form method="post" action="/register">
                              <div class="group"> <label for="fullname" class="label">Fullname</label>
                                 <input id="fullname" type="text" class="input" name="fullname" placeholder="Enter Fullname"/> </div>
                              <div class="group"> <label for="username" class="label">Username</label>
                                 <input id="username" type="text" class="input" name="username" placeholder="Enter Username"/> </div>                            
                              <div class="group"> <label for="user" class="label">Email Address</label>
                                 <input id="user" type="text" class="input" name="email" placeholder="Enter Email "/> </div>
                              <div class="group"> <label for="pass" class="label">Password</label>
                                 <input id="pass" type="password" class="input" name="password" data-type="password" placeholder="Enter your password"/> </div>
                              <div class="group"> <label for="gender" class="label">Gender</label>
                                 <input id="male" type="radio" name="gender" value="male">
                                 <label for="male" style="color: white">Male</label><br>
                                 <input id="female" type="radio" name="gender" value="female">
                                 <label for="female" style="color: white">Female</label><br>
                                 <input id="other" type="radio" name="gender" value="other">
                                 <label for="other" style="color: white">Other</label><br>
                              <div class="group"> <label for="phone" class="label">Phone Number</label>
                                 <input id="phone" type="text" class="input" name="phone" placeholder="Enter Phone Number"/> </div>

                              <div class="group"> <button type="submit" class="button" >Register </button> </div>
                              <div class="hr"></div>
                            </form>
                          </div>
                      </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--<script src="js/signIn.js"></script>-->
