<<<<<<< HEAD
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Royal Tulip - Check Out</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" />
    <link href="css/all.min.css" rel="stylesheet" />
	<link href="css/templatemo-style.css" rel="stylesheet" />

  <style>
  .floor:link, .floor:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .floor:hover, .floor:active {
    background-color: red;
  }
  </style>
</head>
<body>
	<div class="container">
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="img/Royal Tulip.jpg">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">

							<div class="tm-site-text-box">
								<h1 class="tm-site-title">Royal Tulip</h1>
								<h6 class="tm-site-description">Our motel is home</h6>
							</div>
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="/rooms" class="tm-nav-link floor">Rooms</a></li>
								<li class="tm-nav-li"><a href="/checkout" class="tm-nav-link floor">Check Out</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">Check Out Page</h2>
				<p class="col-12 text-center">You may use <a rel="nofollow" href="https://www.visa.com.vn/en_VN" target="_blank">Visa</a> to complete the transaction. Otherwise ask the guest to fill out the form below </p>
			</header>

			<div class="tm-container-inner-2 tm-contact-section">
				<div class="row">
					<div class="col-md-6">
						<form action="" method="POST" class="tm-contact-form">
					        <div class="form-group">
					          <input type="text" name="name" class="form-control" placeholder="Account Name" required="" />
					        </div>

					        <div class="form-group">
					          <input type="password" name="email" class="form-control" placeholder="Password" required="" />
					        </div>

					        <div class="form-group">
					          <textarea rows="5" name="message" class="form-control" placeholder="Reviews" required=""></textarea>
					        </div>

					        <div class="form-group tm-d-flex">
					          <button type="submit" class="tm-btn tm-btn-success tm-btn-right">
					            Submit
					          </button>
					        </div>
						</form>
					</div>
					<div class="col-md-6">
						<div class="tm-address-box">
							<h4 class="tm-info-title tm-text-success">Our Address</h4>
							<address>
								2 Trịnh Văn Ấn, Phường Mỹ Xuyên, Thành phố Long Xuyên, An Giang, Vietnam
							</address>
							<a href="tel:080-090-0110" class="tm-contact-link">
								080-090-0110
							</a>
            </br>
							<a href="mailto:info@company.co" class="tm-contact-link">
							  info@company.co
							</a>
						</div>
					</div>
				</div>
			</div>

<!-- How to change your own map point
	1. Go to Google Maps
	2. Click on your location point
	3. Click "Share" and choose "Embed map" tab
	4. Copy only URL and paste it within the src="" field below
-->
			<div class="tm-container-inner-2 tm-map-section">
				<div class="row">
					<div class="col-12">
						<div class="tm-map">

						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1962.2864905783226!2d105.4307969246968!3d10.375987323493327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310a72e01e8cb2cb%3A0x3a43d7774ef6ffdf!2zMiBUcuG7i25oIFbEg24g4bqkbiwgUGjGsOG7nW5nIE3hu7kgWHV5w6puLCBUaMOgbmggcGjhu5EgTG9uZyBYdXnDqm4sIEFuIEdpYW5nLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1637033595556!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
						</div>
					</div>
				</div>
			</div>


		<footer class="tm-footer text-center">
			<p>Copyright &copy; 2020 Royal Tulip

            | Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
		</footer>
	</div>
	<script src="js/jquery.min.js"></script>
	<script src="js/parallax.min.js"></script>
	<script>
		$(document).ready(function(){
			var acc = document.getElementsByClassName("accordion");
			var i;

			for (i = 0; i < acc.length; i++) {
			  acc[i].addEventListener("click", function() {
			    this.classList.toggle("active");
			    var panel = this.nextElementSibling;
			    if (panel.style.maxHeight) {
			      panel.style.maxHeight = null;
			    } else {
			      panel.style.maxHeight = panel.scrollHeight + "px";
			    }
			  });
			}
		});
	</script>
</body>
</html>
=======
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Royal Tulip - Check Out</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" />
    <link href="css/all.min.css" rel="stylesheet" />
	<link href="css/templatemo-style.css" rel="stylesheet" />

  <style>
  .floor:link, .floor:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .floor:hover, .floor:active {
    background-color: red;
  }
  </style>
</head>
<body>
	<div class="container">
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="img/Royal Tulip.jpg">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">

							<div class="tm-site-text-box">
								<h1 class="tm-site-title">Royal Tulip</h1>
								<h6 class="tm-site-description">Our motel is home</h6>
							</div>
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="/rooms" class="tm-nav-link floor">Rooms</a></li>
								<li class="tm-nav-li"><a href="/checkout" class="tm-nav-link floor">Check Out</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">Check Out Page</h2>
				<p class="col-12 text-center">You may use <a rel="nofollow" href="https://www.visa.com.vn/en_VN" target="_blank">Visa</a> to complete the transaction. Otherwise ask the guest to fill out the form below </p>
			</header>

			<div class="tm-container-inner-2 tm-contact-section">
				<div class="row">
					<div class="col-md-6">
						<form action="" method="POST" class="tm-contact-form">
					        <div class="form-group">
					          <input type="text" name="name" class="form-control" placeholder="Account Name" required="" />
					        </div>

					        <div class="form-group">
					          <input type="password" name="email" class="form-control" placeholder="Password" required="" />
					        </div>

					        <div class="form-group">
					          <textarea rows="5" name="message" class="form-control" placeholder="Reviews" required=""></textarea>
					        </div>

					        <div class="form-group tm-d-flex">
					          <button type="submit" class="tm-btn tm-btn-success tm-btn-right">
					            Submit
					          </button>
					        </div>
						</form>
					</div>
					<div class="col-md-6">
						<div class="tm-address-box">
							<h4 class="tm-info-title tm-text-success">Our Address</h4>
							<address>
								2 Trịnh Văn Ấn, Phường Mỹ Xuyên, Thành phố Long Xuyên, An Giang, Vietnam
							</address>
							<a href="tel:080-090-0110" class="tm-contact-link">
								080-090-0110
							</a>
            </br>
							<a href="mailto:info@company.co" class="tm-contact-link">
							  info@company.co
							</a>
						</div>
					</div>
				</div>
			</div>

<!-- How to change your own map point
	1. Go to Google Maps
	2. Click on your location point
	3. Click "Share" and choose "Embed map" tab
	4. Copy only URL and paste it within the src="" field below
-->
			<div class="tm-container-inner-2 tm-map-section">
				<div class="row">
					<div class="col-12">
						<div class="tm-map">

						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1962.2864905783226!2d105.4307969246968!3d10.375987323493327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310a72e01e8cb2cb%3A0x3a43d7774ef6ffdf!2zMiBUcuG7i25oIFbEg24g4bqkbiwgUGjGsOG7nW5nIE3hu7kgWHV5w6puLCBUaMOgbmggcGjhu5EgTG9uZyBYdXnDqm4sIEFuIEdpYW5nLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1637033595556!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
						</div>
					</div>
				</div>
			</div>


		<footer class="tm-footer text-center">
			<p>Copyright &copy; 2020 Royal Tulip

            | Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
		</footer>
	</div>
	<script src="js/jquery.min.js"></script>
	<script src="js/parallax.min.js"></script>
	<script>
		$(document).ready(function(){
			var acc = document.getElementsByClassName("accordion");
			var i;

			for (i = 0; i < acc.length; i++) {
			  acc[i].addEventListener("click", function() {
			    this.classList.toggle("active");
			    var panel = this.nextElementSibling;
			    if (panel.style.maxHeight) {
			      panel.style.maxHeight = null;
			    } else {
			      panel.style.maxHeight = panel.scrollHeight + "px";
			    }
			  });
			}
		});
	</script>
</body>
</html>
>>>>>>> d17821c (Fix accounts page)
