<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Royal Tulip - Rooms</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
	<link href="css/templatemo-style.css" rel="stylesheet" />
</head>

<body>

	<div class="container">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">This is your admin page</h2>
				<p class="col-12 text-center">Where you control what's going on in inside your motel</p>
			</header>

			<div class="tm-paging-links">
				<nav>
          <h2>These here are the rooms </h2>
					<ul>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link active">FirstFloor</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">SecondFloor</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">ThirdFloor</a></li>
					</ul>
				</nav>
			</div>

			<!-- Gallery -->
			<div class="row tm-gallery">
				<!-- gallery page 1 -->
				<div id="tm-gallery-page-firstfloor" class="tm-gallery-page">
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/room-01.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Room 01</h4>
								<p class="tm-gallery-description">A 2-bedroom classic</p>
								<p class="tm-gallery-price">$45 / $55</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/room-02.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Room 02</h4>
								<p class="tm-gallery-description">A beautiful city view room</p>
								<p class="tm-gallery-price">$65 / $70</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/room-03.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Room 03</h4>
								<p class="tm-gallery-description">Romantic for couples</p>
								<p class="tm-gallery-price">$40.50</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/room-04.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Room 04</h4>
								<p class="tm-gallery-description">Sunny with breezy fresh air</p>
								<p class="tm-gallery-price">$125.50</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/room-05.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Room 05</h4>
								<p class="tm-gallery-description">1 person king-size bed</p>
								<p class="tm-gallery-price">$80.25</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/room-06.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Room 06</h4>
								<p class="tm-gallery-description">Garden-view room</p>
								<p class="tm-gallery-price">$20 / $40 / $60</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/room-07.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Room 07</h4>
								<p class="tm-gallery-description">Luxurious Room</p>
								<p class="tm-gallery-price">$294</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/room-08.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Room 08</h4>
								<p class="tm-gallery-description">Modernity at its finest</p>
								<p class="tm-gallery-price">$215</p>
							</figcaption>
						</figure>
					</article>
				</div> <!-- gallery page 1 -->

				<!-- gallery page 2 -->
				<div id="tm-gallery-page-secondfloor" class="tm-gallery-page hidden">
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/room-04.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
                <h4 class="tm-gallery-title">Room 04</h4>
                <p class="tm-gallery-description">Sunny with breezy fresh air</p>
                <p class="tm-gallery-price">$125.50</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/room-03.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
                <h4 class="tm-gallery-title">Room 03</h4>
								<p class="tm-gallery-description">Romantic for couples</p>
								<p class="tm-gallery-price">$40.50</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/room-05.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
                <h4 class="tm-gallery-title">Room 05</h4>
                <p class="tm-gallery-description">1 person king-size bed</p>
                <p class="tm-gallery-price">$80.25</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/room-01.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
                <h4 class="tm-gallery-title">Room 01</h4>
								<p class="tm-gallery-description">A 2-bedroom classic</p>
								<p class="tm-gallery-price">$45 / $55</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/room-08.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
                <h4 class="tm-gallery-title">Room 08</h4>
                <p class="tm-gallery-description">Modernity at its finest</p>
                <p class="tm-gallery-price">$215</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/room-07.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
                <h4 class="tm-gallery-title">Room 07</h4>
								<p class="tm-gallery-description">Luxurious Room</p>
								<p class="tm-gallery-price">$294</p>
							</figcaption>
						</figure>
					</article>
				</div> <!-- gallery page 2 -->

				<!-- gallery page 3 -->
				<div id="tm-gallery-page-thirdfloor" class="tm-gallery-page hidden">
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/room-08.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
                <h4 class="tm-gallery-title">Room 08</h4>
								<p class="tm-gallery-description">Modernity at its finest</p>
								<p class="tm-gallery-price">$215</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/room-07.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
                <h4 class="tm-gallery-title">Room 07</h4>
                <p class="tm-gallery-description">Luxurious Room</p>
                <p class="tm-gallery-price">$294</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/room-06.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
                <h4 class="tm-gallery-title">Room 06</h4>
                <p class="tm-gallery-description">Garden-view room</p>
                <p class="tm-gallery-price">$20 / $40 / $60</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/room-05.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
                <h4 class="tm-gallery-title">Room 05</h4>
                <p class="tm-gallery-description">1 person king-size bed</p>
                <p class="tm-gallery-price">$80.25</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/room-04.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
                <h4 class="tm-gallery-title">Room 04</h4>
                <p class="tm-gallery-description">Sunny with breezy fresh air</p>
                <p class="tm-gallery-price">$125.50</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/room-03.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
                <h4 class="tm-gallery-title">Room 03</h4>
								<p class="tm-gallery-description">Romantic for couples</p>
								<p class="tm-gallery-price">$40.50</p>
							</figcaption>
						</figure>
					</article>

				</div> <!-- gallery page 3 -->
			</div>
			<div class="tm-section tm-container-inner">
				<div class="row">
					<div class="col-md-6">
						<figure class="tm-description-figure">
							<img src="img/room-09.jpg" alt="Image" class="img-fluid" />
						</figure>
					</div>
					<div class="col-md-6">
						<div class="tm-description-box">
							<h4 class="tm-gallery-title">The Royalty VIP</h4>
              <p class="tm-mb-45">Reservered for our high ranking members  </p>
              <p class="tm-gallery-price">$300~$500(for members)</p>
              <a href="#" class="tm-btn tm-btn-default tm-right">Add/Erase Rooms</a>
						</div>
					</div>
				</div>
			</div>
		</main>
	<script src="js/jquery.min.js"></script>
	<script src="js/parallax.min.js"></script>
	<script>
		$(document).ready(function(){
			// Handle click on paging links
			$('.tm-paging-link').click(function(e){
				e.preventDefault();

				var page = $(this).text().toLowerCase();
				$('.tm-gallery-page').addClass('hidden');
				$('#tm-gallery-page-' + page).removeClass('hidden');
				$('.tm-paging-link').removeClass('active');
				$(this).addClass("active");
			});
		});
	</script>
</body>
</html>
