<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    <link href="../css/templatemo-style.css" rel="stylesheet" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link href="../css/edit-room.css" rel="stylesheet" />
</head>

<body>

<div class="container">
    <form class="well form-horizontal" action="/rooms/eraseroom" method="post"  id="contact_form">
<fieldset>

<!-- Form Name -->
<legend>UPDATE A ROOM</legend>

<!-- Text input-->
<h1>Search For Room</h1>
<div class="form-group">
  <label for="prename" class="col-md-4 control-label">Room Name That Needs Erasing</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="prename" id="prename" placeholder="i.e: R01 R02 ..." class="form-control"  type="text">
    </div>
  </div>
</div>
</hr>


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
  <button  class="btn btn-info" type="submit"> Done </button>
  </div>
</div>

</fieldset>
</form>
</div>
    </div>
</body>
</html>
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    <link href="../css/templatemo-style.css" rel="stylesheet" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link href="../css/edit-room.css" rel="stylesheet" />
</head>

<body>

<div class="container">
    <form class="well form-horizontal" action="/rooms/eraseroom" method="post"  id="contact_form">
<fieldset>

<!-- Form Name -->
<legend>UPDATE A ROOM</legend>

<!-- Text input-->
<h1>Search For Room</h1>
<div class="form-group">
  <label for="prename" class="col-md-4 control-label">Room Name That Needs Erasing</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="prename" id="prename" placeholder="i.e: R01 R02 ..." class="form-control"  type="text">
    </div>
  </div>
</div>
</hr>


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
  <button  class="btn btn-info" type="submit"> Done </button>
  </div>
</div>

</fieldset>
</form>
</div>
    </div>
</body>
</html>
>>>>>>> d17821c (Fix accounts page)
