<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    <link href="../css/templatemo-style.css" rel="stylesheet" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link href="../css/edit-room.css" rel="stylesheet" />
</head>

<body>

<div class="container">
    <form class="well form-horizontal" action="/services/addservice" method="post"  id="contact_form">
<fieldset>

<!-- Form Name -->
<legend>ADD A NEW ROOM</legend>

<!-- Text input-->

<div class="form-group">
  <label for="name" class="col-md-4 control-label">Service Name</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="name" id="name" placeholder="i.e: Coca,Mỳ,..." class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label for="type" class="col-md-4 control-label" >Service Type</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="type" id="type" placeholder="i.e: food,drinks,.." class="form-control"  type="text">
    </div>
  </div>
</div>


<!-- Text input-->
<div class="form-group">
  <label for="price" class="col-md-4 control-label">Service Price</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
  <input name="price" id="price" placeholder="i.e: 40000.." class="form-control" type="text">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label for="image" class="col-md-4 control-label">Service Picture</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
  <input name="image" id="image" placeholder="i.e: images/service-images/service-02.jpg" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
  <button  class="btn btn-info" type="submit"> Done </button>
  </div>
</div>

</fieldset>
</form>
</div>
    </div>
</body>
</html>
