<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    <link href="../css/templatemo-style.css" rel="stylesheet" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link href="../css/edit-room.css" rel="stylesheet" />
</head>

<body>

<div class="container">
    <form class="well form-horizontal" action="/services/eraseservice" method="post"  id="contact_form">
<fieldset>

<!-- Form Name -->
<legend>ERASE A SERVICE</legend>

<!-- Text input-->
<h1>Search For Service</h1>
<div class="form-group">
  <label for="prename" class="col-md-4 control-label">Service Name That Needs Erasing</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="prename" id="prename" placeholder="i.e: Coca,Pepsi, ..." class="form-control"  type="text">
    </div>
  </div>
</div>
</hr>


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
  <button  class="btn btn-info" type="submit"> Done </button>
  </div>
</div>
</fieldset>
</form>
<button class="btn-block" style="font-size: 25px;background-color: gray; width: 150px; margin: 10px; cursor: pointer;color: white" onclick="ReturnHome()">Back to home page</button>
</div>
<script>
function ReturnHome() {
  event.preventDefault();
  window.location="/services";	}
</script>
</body>
</html>
