<link href="../css/bootstrap.min.css" rel="stylesheet" />
<h1>Successfully unban user </h1>
<button class="btn-block" style="font-size: 25px;background-color: gray; cursor: pointer" onclick="GoToAccountsPage()">Back</button>
<script src="../../../js/accounts.js"></script>
